*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  
}


h2{
  font-size: 2.3rem;
  color:crimson;
  margin-bottom: 10px;
}

h3{
  font-size: 1.3rem;
  margin-bottom: 15px;
}

h4{
  font-size: 1rem;
  margin-bottom: 25px;
}


body{
  font-family: 'Poppins', sans-serif ;
  width: 100%;
  height: 100vh;
  background: #f6fbfd;
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:4rem auto;
  
}

.boton{
  color: white;
  border-radius: 60px;
  border:solid crimson 1px;
  opacity: 60%;
  background-color:black;
  margin-left: 5px;
  padding: 5px 16px;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.boton:focus{
  color: crimson;
}


.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}


.anterior{
  text-align: center;
  padding: 10px;
  margin-right: 300px;
  background-color: black;
  color: white;

}


.anterior:hover{
  background-color: white;
  color: black;
  
}


.siguiente{
  text-align: center;
  padding: 10px;
  margin-right: 45px;
  background-color: black;
  color: white;
  
}


.siguiente:hover{
  background-color: white;
  color: black;
}


.imageNavigation{
  display: inline-block;
  margin-left: 20px;
}


.volver{
  margin-right: 1200px;
  padding: 10px;
  background-color: black;
  color: white;
  
}


.volver:hover{
  background-color: white;
  color: black;
}



.subButton{
  margin-left: 20px;
  margin-bottom: 20px;
  color: black;
  background-color:lightblue;
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.subButtonsContainer{
  display: inline-block;
  margin-bottom: 20px;
}


.imageContainer{
  width: 100%;
  height: auto;
}



